<h1>Having a question about digital conquest? Do not hesitate, we'd love to help you succeed in that universe </h1>

<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email %>
  <%= f.input :object %>
  <%= f.input :description %>
<%end%>
